/*
class="aui-label"
*/

.dylan {
    position: absolute;
    bottom: 1px;
    right: 2px;
    opacity: 0.7;
    font-size: smaller;
    padding: 0 4px;
    overflow: hidden;
    display: inline-block;
    max-height: 1.1em;
    max-width: 200px;
    transition: opacity 0.25s ease-in-out;
    border-radius: 4px;
}

.ghx-issue:hover .dylan,
.dylan:hover {
    opacity: 1;
}

