/*
class="aui-label"
*/

.ghx-issue {
    height: auto !important;;
    min-height: 95px !important;;
    margin-bottom: 2px !important;;
    font-size: 12px !important;
}


.ghx-issue .ghx-grabber,
.ghx-issue:first-child .ghx-grabber {
    height: 100% !important;;
}

.chrome .ghx-issue-fields .ghx-summary .ghx-inner {
    beight: auto !important;;
}


.dylan {
    overflow: hidden;
    max-width: 100%;
    transition: opacity 0.25s ease-in-out;
    opacity: 0.7;

    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    line-height: 14px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
}

.ghx-issue:hover .dylan,
.dylan:hover {
    opacity: 1;
}

.dylan .status {
    font-weight: bold;
    padding-right: 4px;
}
