/*
class="aui-label"
*/

.ghx-issue {
    height: auto !important;;
    margin-bottom: 2px !important;
    margin-left: 2px !important;
    margin-right: 1px !important;
    font-size: 12px !important;
    border-top: 4px solid #eee !important;
    padding: 3px 0px 10px 25px !important;
}


.ghx-issue .ghx-grabber,
.ghx-issue:first-child .ghx-grabber {
    height: 100%;
    width: 2px;
}

.chrome .ghx-issue-fields .ghx-summary .ghx-inner,
    .ghx-issue-fields .ghx-summary .ghx-inner {
    height: auto !important;
    margin-bottom: 4px;
}

.ghx-issue .epic-link {
    overflow: hidden;
    max-width: 100%;
    transition: opacity 0.25s ease-in-out;
    opacity: 0.7;

    display: inline-block;
    padding: 2px 4px;
    font-size: 9px;
    line-height: 10px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    text-overflow: ellipsis;
}

.ghx-issue:hover .epic-link,
.ghx-issue .epic-link:hover {
    opacity: 1;
}

.ghx-issue .epic-link .status {
}

.ghx-issue .ghx-type {
    height: auto !important;
    overflow: auto !important;
}


.ghx-issue .pull-request {
    background-image: -webkit-image-set(
      url(chrome-extension://__MSG_@@extension_id__/images/github-16.png) 1x,
      url(chrome-extension://__MSG_@@extension_id__/images/github-32.png) 2x
    );

    width: 16px;
    height: 16px;
    display: inline-block;

    box-shadow: none;
    transition: box-shadow 0.25s ease-in-out;
}

.ghx-issue .pull-request:hover {
    box-shadow: 0 0 5px 2px #9ecaed;
}

.ghx-issue .pull-request-unknown {
    opacity: 0.5;
}

.ghx-issue .pull-request-error {
    -webkit-filter: invert(1);
}

.ghx-issue .pull-request-open {

}

.ghx-issue .pull-request-closed {
    -webkit-filter: hue-rotate(90deg);
    opacity: 50%;
}

.ghx-issue .ji-font-smaller {
    font-size: 9px !important;
}

.ghx-issue .kinda-hidden {
    display: none;
}

.ghx-issue .highlight {
    color: black;
    background-color: yellow;
    box-shadow:
        0 2px 2px yellow,
        0 0 4px 1px yellow !important;

}

.ghx-issue .expanding-tag {
    border-radius: 3px;
}

.ghx-issue .expanding-tag:hover {
    z-index: 10000;
    position: relative;
    max-width: none;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.3),
        0 0 4px 1px rgba(0,0,0,0.2);
    text-decoration: none;
}

.ghx-issue .expanding-tag:hover .kinda-hidden {
    display: inherit;
}


.ghx-issue .aui-lozenge {
    font-weight: normal;
    text-align: left;
    text-transform: none;
    width: auto;
    max-width: 100%;
}


.ghx-issue .traffic-light {
    margin-left: -20px;
}

.ghx-issue .issues {
    display: none;
    margin-left: -20px;
    margin-right: 15px;
}

.ghx-issue:hover .issues {
    display: block;
}

.ghx-issue .epic-container,
.ghx-issue .pull-requests {
    margin-left: -20px;
    margin-right: 15px;
}



/**
Try to make it so the whole page will scroll

.ghx-column-header-group {
    position: initial !important;
}

.ghx-work {
    height: auto !important;
}


.ghx-scroll-columns, #ghx-plan, #ghx-report, #ghx-work {
    overflow: visible !important;
    height: auto !important;
}

**/

#ghx-header {
    padding: 2px 20px !important;
}

#ghx-column-headers {
    padding-top: 5px !important;
}

.ghx-column-headers .ghx-column {
    border-bottom-width: 1px !important;
    padding: 0 10px 0 0 !important;
}
.ghx-controls-filters dt, .ghx-controls-filters dd {
    margin: 0 0 2px 0 !important;
}

.ghx-controls-plan,
.ghx-header-compact .ghx-controls-report,
.ghx-controls-work {
    min-height: initial;
}

.ghx-column-headers .ghx-release {
    font-size: 9px;
}

.ghx-feedback.js-feedback-link {
    display: none;
}

.ghx-qty {
    font-weight: normal;
    font-size: 9px;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 2px 4px 0 4px;
}

.ghx-column-headers h2 {
    float: left;
}

.ghx-issue-fields .ghx-type {
    left: 5px;
    top: 3px;
}

.ghx-has-avatar .ghx-issue-fields,
.ghx-has-corner .ghx-issue-fields {
    padding-right: 41px !important;
}

.ghx-swimlane-header {
    font-size: 12px;
    line-height: 0.4em;
}

.ghx-swimlane-header .ghx-expander .ghx-iconfont {
    margin-top: 6px !important;
}

.ghx-controls-filters dd a {
    padding: 4px 10px;
}

.ghx-columns .ghx-flags,
.ghx-columns .ghx-priority {
    display: none;
}
