/*
class="aui-label"
*/

.ghx-issue {
    height: auto !important;;
    min-height: 31px;
    margin-top: 3px !important;
    margin-bottom: 2px !important;
    margin-left: 2px !important;
    margin-right: 1px !important;
    font-size: 12px !important;
    padding: 3px 0px 2px 25px !important;
    display: block;
    line-height: 1.1em;
}


.ghx-issue-fields .ghx-key {
    margin-top: 3px !important;
    margin-bottom: 2px !important;
}

.ghx-issue .ghx-grabber,
.ghx-issue:first-child .ghx-grabber {
    height: 100% !important;
    width: 2px;
}

.chrome .ghx-issue-fields .ghx-summary .ghx-inner,
    .ghx-issue-fields .ghx-summary .ghx-inner {
    height: auto !important;
    margin-bottom: 4px;
    display: inherit;
    overflow: inherit !important;
}

.ghx-issue .epic-link {
    overflow: hidden;
    max-width: 100%;
    transition: opacity 0.25s ease-in-out;
    opacity: 0.7;

    display: inline-block;
    padding: 2px 4px;
    font-size: 9px;
    line-height: 10px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    text-overflow: ellipsis;
}

.ghx-issue:hover .epic-link,
.ghx-issue .epic-link:hover {
    opacity: 1;
}

.ghx-issue .epic-link .status {
}

.ghx-issue .ghx-type {
    height: auto !important;
    overflow: auto !important;
}

.ghx-issue .pull-request,
.ghx-issue .pull-request-other {
    width: 16px;
    height: 16px;
    display: inline-block;

    box-shadow: none;
    transition: box-shadow 0.25s ease-in-out;
}

.ghx-issue .pull-request-other img {
    width: 16px;
    height: 16px;
}

.ghx-issue .pull-request {
    background-image: -webkit-image-set(
      url(chrome-extension://__MSG_@@extension_id__/images/github-16.png) 1x,
      url(chrome-extension://__MSG_@@extension_id__/images/github-32.png) 2x
    );
}

.ghx-issue .pull-request-other:hover,
.ghx-issue .pull-request:hover {
    box-shadow: 0 0 5px 2px #9ecaed;
}

.ghx-issue .pull-request-unknown {
    opacity: 0.5;
}

.ghx-issue .pull-request-error {
    -webkit-filter: invert(1);
}

.ghx-issue .pull-request-open {

}

.ghx-issue .pull-request-closed {
    -webkit-filter: hue-rotate(90deg);
    opacity: 50%;
}


.ghx-issue .ji-font-smaller {
    font-size: 9px !important;
}

.ghx-issue .kinda-hidden {
    display: none;
}

.ghx-issue .highlight {
    background-color: rgba(255,196,13, 0.2);
    box-shadow:
        0 2px 2px rgba(255,196,13, 0.2),
        0 0 4px 1px rgba(255,196,13, 0.2) !important;

}

.ghx-issue .expanding-tag {
    border-radius: 3px;
}

.ghx-issue .expanding-tag:hover {
    z-index: 10000;
    position: relative;
    max-width: none;
    text-decoration: none;

    box-shadow:
        0 2px 2px rgba(0,0,0,0.3),
        0 0 4px 1px rgba(0,0,0,0.2);
}

.ghx-issue .expanding-tag:hover .kinda-hidden {
    ddisplay: inherit;
}


.ghx-issue .aui-lozenge {
    font-weight: normal;
    text-align: left;
    text-transform: none;
    width: auto;
    max-width: 100%;
}


.ghx-issue .traffic-light {
    margin-left: -20px;
}

.ghx-issue .issues {
    display: none;
    margin-left: -20px;
    margin-right: 15px;
    line-height: 1.5em;
    background: red;
    position: absolute;
    z-index: 10000000;
    background: rgba(225,225,225,0.9);
    border-radius: 4px;
    padding: 5px;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.3),
        0 0 4px 1px rgba(0,0,0,0.2);
}

.ghx-issue:hover .issues {
    display: block;
}

.ghx-issue .epic-container,
.ghx-issue .pull-requests {
    margin-left: -20px;
    margin-right: 15px;
}

.ghx-issue .ghx-issue-content {
    padding: 2px;
    min-height: 0;
}

.ghx-days {
    position: relative;
    width: inherit;
    margin-left: -35px;
}


/**
Try to make it so the whole page will scroll

.ghx-column-header-group {
    position: initial !important;
}

.ghx-work {
    height: auto !important;
}


.ghx-scroll-columns, #ghx-plan, #ghx-report, #ghx-work {
    overflow: visible !important;
    height: auto !important;
}

**/

#ghx-header {
    padding: 2px 20px !important;
}

#ghx-column-headers {
    padding-top: 5px !important;
}

.ghx-column-headers .ghx-column {
    border-bottom-width: 1px !important;
    padding: 0 10px 0 0 !important;
}

.ghx-controls-list>dl {
    margin-right: 0;
}

input.filter {
    margin-right: 5px;
}

.ghx-controls-sprint dd a>span {
    padding-top: 0;
    padding-bottom: 0;
}

.ghx-controls-filters dt,
.ghx-controls-filters dd {
    margin: 0 0 2px 0 !important;
}

.ghx-controls-filters dd a {
    padding: 4px 10px;
}

.ghx-quick-content.aui-expander-content {
    margin-bottom: 0;
}

.ghx-controls-plan,
.ghx-header-compact .ghx-controls-report,
.ghx-controls-work {
    min-height: initial;
}

.ghx-column-headers .ghx-release {
    font-size: 9px;
}

.ghx-feedback.js-feedback-link {
    display: none;
}

.ghx-qty {
    font-weight: normal;
    font-size: 9px;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 2px 4px 0 4px;
}

.ghx-column-headers h2 {
    float: left;
}

.ghx-issue-fields .ghx-type {
    left: 5px;
    top: 3px;
}

.ghx-has-avatar .ghx-issue-fields,
.ghx-has-corner .ghx-issue-fields {
    padding-right: 0 !important;
}

.ghx-band-1 .ghx-avatar.avatar-improved,
.ghx-band-2 .ghx-avatar.avatar-improved,
.ghx-avatar.avatar-improved,
.ghx-issue .ghx-avatar.avatar-improved {
    float: right !important;
    margin-right: 5px !important;
    margin-left: 3px !important;
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
}

.ghx-swimlane-header {
    font-size: 12px;
    line-height: 0.4em;
}

.ghx-swimlane-header .ghx-expander .ghx-iconfont {
    margin-top: 6px !important;
}


.ghx-issue .ghx-flags {
    left: 5px;
    position: absolute;
    top: 22px;
    opacity: 0.3;
}

.ghx-issue:hover .ghx-flags {
    opacity: 1;
}

.ghx-issue .ghx-corner,
.ghx-issue .ghx-corner .aui-badge{
    min-width: 1ch !important;
}

.ghx-issue .ghx-end {
    right: 4px !important;
    bottom: 5px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;;
    background: transparent !important;;
}

.aui-badge {
    background: #f5f5f5 !important;;
}
